<li id="hatch-<%= hatch.id %>">
  <% if hatch.insect_type && hatch.insect_type != '' %><b>Insect Type:</b> <%= hatch.insect_type %> - <% end %>
  <% if hatch.time_of_day && hatch.time_of_day != '' %><b>Time of Day:</b> <%= hatch.time_of_day %> - <% end %>
  <% if hatch.description && hatch.description != '' %><b>Description:</b> <%= hatch.description %> <% end %>
</li>