<li id="fishing-report-<%= fishing_report.id %>">
  <span class="content"><%= fishing_report.title %> - </span>
  <span class="report-date">
    <%= fishing_report.date.to_formatted_s(:long) %>
  </span>
</li>