// Place all the styles related to the FishingReport controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fishing-report-form .form-control {
  width: 50%;
}

ul {
  list-style: none;
}

li {
  padding-top: 5px;
}

.fish img {
  height: auto;
    width: auto;
    max-width: 500px;
    max-height: 150px;
    padding: 25px;
}